export APP_NAME=funky-forum
export POSTGRES_LINUX_DSN=postgres://postgres:secret123@localhost/<CHANGE THIS>?sslmode=disable
export POSTGRES_MAC_DSN=postgres://<CHANGE THIS>:pa55word@localhost/<CHANGE THIS>?sslmode=disable